<div class= "mx-3">
<ul>
  <% @articles.each do |article| %>
  <li class= "py-3"><%= link_to article.title, article_path(article) %> - <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
<br>
<%= link_to "Create a new Article", new_article_path %>
</div>